@model Bioscoop.Models.Reservation

@{
    ViewData["Title"] = "Details";
}


<partial name="~/Views/Dashboard/DashboardHeader.cshtml" />


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

    <h1>Details</h1>

    <div>
        <h4>Reservation</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Reserveringsnummer:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ID)
            </dd>
            <dt class="col-sm-2">
                Stoelnummer:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StoelNr.ChairNr)
            </dd>

            <dt class="col-sm-2">
                Hal:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Event.Hall.Name)
            </dd>

            <dt class="col-sm-2">
                Film:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Event.Movie.Title)
            </dd>

            <dt class="col-sm-2">
                Begintijd:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Event.Start)
            </dd>
            <dt class="col-sm-2">
                Reserveringsdatum:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ReservationDate)
            </dd>
            <dt class="col-sm-2">
                Geannuleerd:
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.geanuleerd)
            </dd>
        </dl>
    </div>
    <div>
        <a class="btn btn-secondary" type="button" asp-action="Index"><</a>
        <a class="btn btn-dark" type="button" asp-action="ReserveringAnnuleren" asp-route-id="@Model.ID">Reservering annuleren</a> 

    </div>


</main>

<partial name="~/Views/Dashboard/DashboardFooter.cshtml" />

