@model IEnumerable<Bioscoop.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}



<partial name="~/Views/Dashboard/DashboardHeader.cshtml" />


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

    <h1>Reserveringen</h1>

    <table class="table table-dark table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    Reserveringsnummer
                </th>
                <th>
                    Stoelnummer
                </th>
                <th>
                    Film
                </th>
                <th>
                    Begintijd
                </th>
                <th>
                    Eindtijd
                </th>
                <th>
                    Reserveringsdatum
                </th>
                <th>
                    Geannuleerd
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StoelNr.ChairNr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Movie.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.Start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Event.End)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.geanuleerd)
                </td>
                <td>
                    <a class="text-white" type="button" asp-action="Details" asp-route-id="@item.ID">
                        <span data-feather="info"></span>
                    </a>

                    @*  <a class="text-white" type="button" asp-action="Edit" asp-route-id="@item.ID">
                            <span data-feather="edit"></span>
                        </a>

                    <a class="text-white" type="button" asp-action="Delete" asp-route-id="@item.ID">
                        <span data-feather="trash-2"></span>
                    </a>*@
                </td>
            </tr>
            }
        </tbody>
    </table>


</main>

<partial name="~/Views/Dashboard/DashboardFooter.cshtml" />

