@model Bioscoop.Models.Reservation;

@{
    ViewData["Title"] = "Details";
    Movie Movie = (Movie) ViewData["Movie"];
    List<Event> Events = (List<Event>) ViewData["Events"];
    List<TicketDiscount> TicketDiscounts = (List<TicketDiscount>) ViewData["TicketDiscounts"];
}

    @* <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style> *@

    
    <!-- Custom styles for this template -->
    
<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="~/images/@Movie.ImageCover" alt="" width="300" height="400" preserveAspectRatio="xMidYMid slice" >
    <h2>@Movie.Title</h2>
    <p class="lead">@Movie.Description</p>
  </div>
    <div class="row">
      <div class="col-md-12 order-md-1">
        <hr class="mb-4">
        <form class="needs-validation" asp-controller="Reservations" asp-action="Create">
            <div class="row">
              <div class="col-md-6 mb-3 form-group">
                  <h4 class="mb-3">Draai momenten</h4>
                <select asp-for="IDevent" class="custom-select d-block w-100" required>
                  @if(Events != null)
                    {
                        @foreach (var Event in Events)
                        {
                            <option value="@Event.ID">@Event.Start.ToString("dd-mm-yyyy") @Event.Start.ToString("hh:mm") - @Event.End.ToString("hh:mm")</option>
                        }
                    }
                </select>
              </div>
            <div class="col-md-6 mb-3 form-group" >
                <h4 class="mb-3 ">Discount</h4>
              <select asp-for="IDdiscount" class="custom-select d-block w-100" required>
                <option value="Geen">Geen</option>
                @if(TicketDiscounts != null)
                  {
                      @foreach (var TicketDiscount in TicketDiscounts)
                      {
                          <option value="@TicketDiscount.ID">@TicketDiscount.description</option>
                      }
                  }
              </select>
            </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
      </form>
    </div>
</div>

        @* <form enctype="multipart/form-data" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageCover" class="control-label"></label>
                <input asp-for="ImageCover" class="form-control" />
                <span asp-validation-for="ImageCover" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RatingGuide" class="control-label"></label>
                <input asp-for="RatingGuide" class="form-control" />
                <span asp-validation-for="RatingGuide" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="director" class="control-label"></label>
                <input asp-for="director" class="form-control" />
                <span asp-validation-for="director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cast" class="control-label"></label>
                <input asp-for="Cast" class="form-control" />
                <span asp-validation-for="Cast" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationMin" class="control-label"></label>
                <input asp-for="DurationMin" class="form-control" />
                <span asp-validation-for="DurationMin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
               <div class="form-group">
                    <label asp-for="movieCover" class="control-label"></label>  
                    <input asp-for="movieCover" class="form-control"/>  
                    <span asp-validation-for="movieCover" class="text-danger"></span>    
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form> *@