@model Bioscoop.Models.Reservation;

@{
    ViewData["Title"] = "Events Movie Filter App";
    Movie Movie = (Movie) ViewData["Movie"];
    List<Event> Events = (List<Event>) ViewData["Events"];
    List<TicketDiscount> TicketDiscounts = (List<TicketDiscount>) ViewData["TicketDiscounts"];
    Layout = null;
}
    
<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="~/images/@Movie.ImageCover" alt="" width="300" height="400" preserveAspectRatio="xMidYMid slice" >
    <h2>@Movie.Title</h2>
    <p class="lead">@Movie.Description</p>
  </div>
    <div class="row">
      <div class="col-md-6 order-md-1">
        <hr class="mb-4">
        <form class="needs-validation" asp-controller="Reservations" asp-action="CreateApp">
            <div class="row">
              <div class="col-md-6 mb-3 form-group">
                  <h4 class="mb-3">Draai momenten</h4>
                <select asp-for="IDevent" class="custom-select d-block w-100" required>
                  @if(Events != null)
                    {
                        @foreach (var Event in Events)
                        {
                            <option value="@Event.ID">@Event.Start.ToString("dd-mm-yyyy") @Event.Start.ToString("hh:mm") - @Event.End.ToString("hh:mm")</option>
                        }
                    }
                </select>
              </div>
            <div class="col-md-6 mb-3 form-group" >
                <h4 class="mb-3 ">Discount</h4>
              <select asp-for="IDdiscount" class="custom-select d-block w-100" required>
                <option value="Geen">Geen</option>
                @if(TicketDiscounts != null)
                  {
                      @foreach (var TicketDiscount in TicketDiscounts)
                      {
                          <option value="@TicketDiscount.ID">@TicketDiscount.description</option>
                      }
                  }
              </select>
            </div>
        </div>
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Volgende</button>
      </form>
      </div>


       <div class="col-md-6 order-md-1">
        <hr class="mb-4">
          <h5 class="mb-3 ">Heb je al gereserveerd?</h5>
          <form  asp-controller="FinanceTransaction" asp-action="GetTicket">
            <div class="row">
              <div class="form-group col-md-6">
                <input asp-for="ID" type="text" class="form-control" placeholder="Reserveringsnummer">
              </div>
                <div class="form-group col-md-6">
                  <button type="submit" class="btn btn-primary btn-block">Ticket</button>
                </div>
                </div>
                <input asp-for="IDevent" value="@Movie.ID" type="text" class="invisible" placeholder="Reserveringsnummer">
          </form>
       </div>
</div>
