@model IEnumerable<Bioscoop.Models.LostItem>

@{
    ViewData["Title"] = "Index";
}





<partial name="~/Views/Dashboard/DashboardHeader.cshtml" />


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <h1>Gevonden Voorwerpen</h1>

    <p>
        <a class="btn btn-dark" role="button" asp-action="Create">+</a>
    </p>
    <table class="table table-dark table-striped table-bordered">
        <thead>
            <tr>
                <th>
                    Omschrijving
                </th>
                <th>
                    Verloren 
                </th>
                <th>
                    Terecht
                </th>
                <th>
                    Afgegeven door
                </th>
                <th>
                    Gevonden op locatie
                </th>
                <th>
                    Is terecht
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateLost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateFound)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeRelease)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationFound)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemFound)
                    </td>
                    <td>
                        <a class="text-white" type="button" asp-action="Details" asp-route-id="@item.ID">
                            <span data-feather="info"></span>
                        </a>
                       @* <a class="text-white" type="button" asp-action="Delete" asp-route-id="@item.ID">
                            <span data-feather="trash-2"></span>
                        </a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>

<partial name="~/Views/Dashboard/DashboardFooter.cshtml" />

