@model Bioscoop.Models.FinanceTransaction

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FinanceTransaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.basePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.basePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtraTarif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtraTarif)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descriptionExtraTarif)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descriptionExtraTarif)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.discount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.discount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.totalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.totalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTimeTransaction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTimeTransaction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDdiscount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDdiscount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="CreatePaymentTablet" asp-route-id="@Model.ID">Betalen</a> |
    <a asp-action="Index">Back to List</a>
</div>
