@model IEnumerable<Bioscoop.Models.FinanceTransaction>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.basePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtraTarif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descriptionExtraTarif)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.totalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeTransaction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDdiscount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.basePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtraTarif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descriptionExtraTarif)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeTransaction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDdiscount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
