@model Bioscoop.Models.Movie

@{
    ViewData["Title"] = "Delete";
}


<partial name="~/Views/Dashboard/DashboardHeader.cshtml" />


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">




    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">@Html.DisplayFor(model => model.Title)</h2>
            <p class="lead">@Html.DisplayFor(model => model.Description).</p>

            <div>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ReleaseDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.ReleaseDate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Genre)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Genre)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.RatingGuide)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.RatingGuide)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.director)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.director)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Cast)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Cast)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.DurationMin)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.DurationMin)
                    </dd>
                </dl>
            </div>

            <form asp-action="Delete">
                <input type="hidden" asp-for="ID" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a class="btn btn-secondary" type="button" asp-action="Index">Back to List</a>
            </form>
        </div>
        <div class="col-md-5">
            <img src="~/images/@Html.DisplayFor(model => model.ImageCover)" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false" />
        </div>
    </div>

    <hr class="featurette-divider">
</main>

<partial name="~/Views/Dashboard/DashboardFooter.cshtml" />