@model IEnumerable<Bioscoop.Models.Movie>


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<partial name="~/Views/Dashboard/DashboardHeader.cshtml" />


<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    @{
        ViewData["Title"] = "Index";
    }

    <h1>Film</h1>

    <p>
        <a class="btn btn-dark" role="button" asp-action="Create">+</a>
    </p>
    <table class="table table-dark table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Genre)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.RatingGuide)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.director)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Cast)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.DurationMin)
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReleaseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RatingGuide)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.director)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cast)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DurationMin)
                    </td>
                    <td>

                        <a class="text-white" type="button" asp-action="Details" asp-route-id="@item.ID">
                            <span data-feather="info"></span>
                        </a>

                        <a class="text-white" type="button" asp-action="Edit" asp-route-id="@item.ID">
                            <span data-feather="edit"></span>
                        </a>

                        <a class="text-white" type="button" asp-action="Delete" asp-route-id="@item.ID">
                            <span data-feather="trash-2"></span>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</main>

<partial name="~/Views/Dashboard/DashboardFooter.cshtml" />
